* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}


/* .container {
    padding: 0;
    margin: 0;
    width: 100%;
} */

aside{
    background-color: rgb(80, 80, 80);
}

section {
    background: linear-gradient(to bottom, #272727, #161616);

}

.recently-played-card {
    display: flex;
    align-items: center;
    gap: 12px;

    background-color: rgb(71, 71, 71);
    height: 50px;
    width: 280px;
    
    margin: 8px 12px 8px 12px;
}

.recently-played-img{
    height: 50px;
    width: 50px;
}

.music-cover-image {
    height: 150px;
    width: 150px;
}

button#image-button {
    background: none;
    border: none;
    padding: 0;
}

button#image-button svg{
    display: block;
    max-width: 100%;
}